// Color system

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #D9D8D8 !default;
$gray-500: #D9D8D8 !default;
$gray-600: #F7F7F7 !default;
$gray-700: #495057 !default;
$gray-800: #3d4144 !default;
$gray-900: #212529 !default;
$black:    #0D0D0D !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue:    #2566AF !default;
$indigo:  #262250 !default;
$purple:  #6f42c1 !default;
$pink:    #FF1D77 !default;
$red:     #E10717 !default;
$orange:  #FF8728 !default;
$yellow:  #ffc107 !default;
$green:   #83d200 !default;
$teal:    #00c77f !default;
$cyan:    #c1f2fc !default;
$mrwhite: #2566AF !default;
$jordan:  #57BCE0 !default;
$edugrenn:#AADA91 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-200,
  "gray-dark":  $gray-800,
  "mrwhite":    $mrwhite,
  "jordan":     $jordan,
  "edugrenn":   $edugrenn,
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary:       $blue !default;
$secondary:     $indigo !default;
$tertiary:      $pink !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-600 !default;
$dark:          $gray-900 !default;
$gray:          $gray-200 !default;
$white:         $white !default;
$mrwhite:       $mrwhite !default;
$jordan:        $jordan !default;
$edugrenn:      $edugrenn !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "tertiary":   $tertiary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "gray":       $gray,
  "white":      $white,
  "mrwhite":    $mrwhite,
  "jordan":     $jordan,
  "edugrenn":   $edugrenn,
) !default;
// scss-docs-end theme-colors-map


//text custom
$display-font-weight: 600;
$headings-font-weight: 600;
$headings-color: $indigo;

//buttons
$btn-border-radius: 2rem;
$btn-padding-y: 0.6rem;
$btn-padding-x:  3rem;
$btn-font-weight: 600;

$min-contrast-ratio: -2.5;

$btn-close-opacity: 1;

$modal-content-border-radius: 1rem;

$card-border-radius: 1.5rem;

$input-border-color: $primary;
$input-placeholder-color: $black;

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "3x4": calc(4 / 3 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "9x21": calc(21 / 9 * 100%),
  "3x1": calc(1 / 3 * 100%),
  "1x3": calc(3 / 1 * 100%),
  "9x27": calc(27 / 9 * 100%)
);

$dropdown-link-color:               $gray-900;
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $primary;

$font-weight-normal: 400;

$enable-negative-margins: true;

// Fonts
$font-family-sans-serif: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: 'Poppins', all-round-gothic, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";