@import "../includes/bootstrap/functions";
@import "custom-variables"; // AKAUEB Variables
@import "../includes/bootstrap/variables";
@import "../includes/bootstrap/mixins";
@import "../includes/bootstrap/utilities";

@import "../includes/bootstrap/functions";
@import "custom-variables"; // AKAUEB Variables
@import "../includes/bootstrap/variables";
@import "../includes/bootstrap/mixins";
@import "../includes/bootstrap/utilities";

.nav{
    box-shadow: 0 12px 8px 0 rgba(0,0,0,.06);
}

.cardShadow{
    box-shadow: 0 12px 20px 0 #2566af3b;
}

.vh-80 {
  height: 80vh;
}

.contentCard{
    height: 100%;
}

a{
    color: $secondary;
    font-weight: 700;
    &.dropdown-toggle{
        font-weight: 400;  
    }
}

.singleCardImage{
    object-fit:cover;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.cardTextFont{
    font-size: 0.675em;
}

.image404{
    width: 40%;
    @media (max-width: 1200px) {
        width: 60%;
    }
}

.registrationCloseButton{
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top: 0;
}

body{
    color: $secondary;
}

.hr{
    background-color: $secondary;
    padding-top: 0.05rem;
    margin-left: 5rem;
    margin-right: 5rem;
    opacity: 1;
}

.carousel-indicators button{
    border-radius: 50%;
    height: 1rem !important;
    width: 1rem !important;
  }

.gamesCard{
    @media (min-width: 1400px) {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

.Cardgame:first-child .gamesCard{
    @media (min-width: 1400px) {
        padding-left: 3rem;
        padding-right: 3rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

.Cardgame:last-child .gamesCard{
    @media (min-width: 1400px) {
        padding-left: 3rem;
        padding-right: 3rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

a.dropdown-item:hover {
  background-color: $primary;
  color: white !important;
}

ul{list-style:none}
ul > li {
    position:relative;
}
ul > li.check::before {
    content: "";
    position: absolute;
    background-image: url("../images/check-circle-2.svg");
    width: 39px;
    height: 39px;
    display: block;
    background-repeat: no-repeat;
    left: -38px;
}

ul > li.danger::before {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'><path id='Tracciato_4540' data-name='Tracciato 4540' d='M24.382,22.625l5.083-5.083a1.242,1.242,0,0,0-1.756-1.757l-5.083,5.083-5.082-5.083a1.242,1.242,0,0,0-1.757,1.757l5.083,5.083-5.083,5.083a1.242,1.242,0,0,0,1.757,1.756l5.082-5.083,5.083,5.083a1.242,1.242,0,1,0,1.756-1.756Z' transform='translate(-6.481 -6.481)' fill='red' stroke='red' stroke-width='0.3'/><path id='Tracciato_4541' data-name='Tracciato 4541' d='M16.144,0A16.144,16.144,0,1,0,32.288,16.144,16.163,16.163,0,0,0,16.144,0m0,29.8A13.66,13.66,0,1,1,29.8,16.144,13.676,13.676,0,0,1,16.144,29.8' transform='translate(0 0)' fill='red' stroke='red' stroke-width='0.3'/></svg>");
  width: 39px;
  height: 39px;
  display: block;
  background-repeat: no-repeat;
  left: -38px;
}

.mdCard{
    @media (min-width: 768px) and (max-width: 1200px) {
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }
}

.gradientBg{
    background-image: linear-gradient(to right, #068fdc, #f93461, #ffc30b);
}

.dropBorder{
    @media (max-width: 576px) {
        border: 0 !important;
    }
}

.dropBorder li:last-child a{
    margin-bottom: 1rem;
}

.logo{
    width: 250px;
    @media (max-width: 576px) {
      width: 200px;
    }
}

.btn-outline-primary:hover{
  color: white !important;
}

.container-padding{
    padding-left: 10rem;
    padding-right: 10rem;
    @media (max-width: 756px) {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

#backtoblog {display:none;}

body{
    background-color: #F7F9FD;
}

.notPublishedBack{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(6, 143, 220, 0.5));
  border: none;
}

//classi per gallery
.color1{
  background-color: #2566AF;
}

.color2{
  background-color: #FF1D77;
}

.color3{
  background-color: #00CBE0;
}

.color4{
  background-color: #FF6829;
}

.color5{
  background-color: #FCAB00;
}

.color6{
  background-color: #00D944;
}

.navButton.btn-light {
  color: $primary !important;
}


//////////////// BackOffice ////////////////

.formNormal {
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  background-position: right 0.75rem center;
  display: inline;
  width: auto;
}

.buttonNormal {
  font-weight: 400;
  line-height: 1, 5;
  display: inline-block;
  padding: 0.375rem 2rem;
  font-size: 1rem;
}

.w-5 {
  width: 5%;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-200 {
  width: 200%;
}

.modal-dialog {
  max-width: 600px;
}

.modal-header {
  border-bottom: 0 none;
}

.deleteBtn {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.btn-add-container {
  right: 10px;
  bottom: 10px;
  z-index: 99;
}

.side-buttons-container {
  right: 10px;
  top: 40%;
  z-index: 99;
}

.side-btn {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  background-color: red;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: ($font-size-base * $line-height-base);
  transition: ease-in-out 0.3s;
  margin: 5px 0;
  .side-button-text {
    max-width: 0px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    margin-right: 0px;
    white-space: nowrap;
  }
  &:hover {
    color: white;
    .side-button-text {
      max-width: 200px;
      opacity: 1;
      margin: 0 10px;
    }
  }
  .side-button-icon {
    width: ($font-size-base * $line-height-base);
    height: ($font-size-base * $line-height-base);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.grad {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 2;
}

.icon-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.icon-plus-circle {
  font-weight: 300;
}

.accordion-button {
  border-bottom: none;
}

.images {
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.page404 {
  height: 70vh;
}

.image404 {
  width: 40%;
  @media (max-width: 1200px) {
    width: 60%;
  }
}

.select2-container--default .select2-selection--single {
  border-radius: $input-border-radius;
  padding-left: $input-btn-padding-x;
  padding-right: $input-btn-padding-x;
  padding-top: $input-btn-padding-y;
  padding-bottom: $input-btn-padding-y;
  font-size: $font-size-base;
  border: 1px solid #d9d8d8;
  height: auto;
  margin-bottom: 1rem;
  .select2-selection__rendered {
    padding: 0px;
    line-height: 2;
  }
}

.select2-selection__arrow {
  display: none;
}

.select2-dropdown {
  border: 1px solid #d9d8d8;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #d9d8d8;
}

.thanksImage {
  width: 20%;
  @media (max-width: 1200px) {
    width: 60%;
  }
}

.addClassButton{
  padding: .5rem 2.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.pendingBack{
  background: rgba(0, 0, 0, 0.5);
}

.notApprovedBack{
  background: rgba(0, 0, 0, 0.5);
}

.previewModalBorders{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.previewModalWidth{
  @media (min-width: 576px){
    width: 50vw;
  }
  width: 80vw;
}

.searchBarWidth{
  @media (min-width: 576px){
    width: 25%;
  }
  width: 75%;
}

.previewRatio{
  @media (min-width: 576px){
    --bs-aspect-ratio: 56.25%;
  }
  --bs-aspect-ratio: 75%;
}