// Normalizzo i font
body {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family:'Poppins';
    src:url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-display:swap;
    font-style:normal;
    font-weight:400;
}

// Incorporo font
@font-face {
    font-family:'Poppins';
    src:url('../fonts/Poppins-Italic.woff2') format('woff2');
    font-display:swap;
    font-style:italic;
    font-weight:400;
}

// Incorporo font
@font-face {
    font-family:'Poppins';
    src:url('../fonts/Poppins-Medium.woff2') format('woff2');
    font-display:swap;
    font-style:normal;
    font-weight:500;
}

// Incorporo font
@font-face {
    font-family:'Poppins';
    src:url('../fonts/Poppins-SemiBold.woff2') format('woff2');
    font-display:swap;
    font-style:normal;
    font-weight:600;
}
